* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.album-list {
    gap: 20px;
}

.album-list .album-cover {
    width: calc(100% / 3 - 20px / 3 * 2);
}

.album-list .album-cover img {
    width: 100%;
}